@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
    background-color: #ffffd5;
    margin: 0 auto;
}
header {
    background-color: #b9273b;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 95px;
}
h1 {
    color: white;
    font-family: 'Rokkitt';
    font-size: 80px;
    padding-left: 40px;
    font-style: italic;
    margin: 0;
}
h2 {margin: 0;
font-family: 'Crete Round';
color: white;
padding-left: 40px;}
.h2 {
    background-color: #ff3355;
    line-height: 60px;
    margin-top: 0;
}
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    max-width: 200px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-item:nth-child(1){
      border-right:1px solid black;
      border-bottom:1px solid black;
  }
  .grid-item:nth-child(2){
    border-left:1px solid black;
    border-right:1px solid black;
    border-bottom:1px solid black;
}
.grid-item:nth-child(3){
    border-left:1px solid black;
    border-bottom:1px solid black;
}
.grid-item:nth-child(4){
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-right:1px solid black;
}
.grid-item:nth-child(5){
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-right:1px solid black;
    border-left:1px solid black;
}
.grid-item:nth-child(6){
    border-top:1px solid black;
    border-bottom:1px solid black;
    border-left:1px solid black;
}
.grid-item:nth-child(7){
    border-top:1px solid black;
    border-right:1px solid black;
}
.grid-item:nth-child(8){
    border-top:1px solid black;
    border-right:1px solid black;
    border-left:1px solid black;
}
.grid-item:nth-child(9){
    border-top:1px solid black;
    border-left:1px solid black;
}

.playerX{
    background-color: #b9273b;
    border-radius: 50%;
}
.playerO{
    background-color: #ff3355;
}
main {
    margin: 50px;
}

