@import url("https://fonts.googleapis.com/css2?family=Quicksand&family=Tangerine&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black;
    width: 100%;
}

main {
width: 90%;
height: 100%;
margin: 30px auto;
    background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/17265wide.jpg);  
}
h1, div {
    color: white;
}
h1 {
    font-family: 'Tangerine';
    text-align: center;
}
div {
    font-family: 'Quicksand';
    font-size: 10px;
    text-align: center;
}
.calendar-info {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.4em;
}
.calendar-prev, 
.calendar-next {
color: white;
cursor: pointer;
font-size: 1.4em;
}
.calendar-prev {
    margin-right: auto;
}
.calendar-next {
    margin-left: auto;
}
.calendar-week,
.calendar-dates {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-gap: 10px;
}
.calendar-item {
    text-align: center;
    line-height: 2;
}
.calendar-month,
.calendar-year {
    padding: .5em 1em;
}
.today {
    background: white;
    color: black;
    width: 50%;
    border-radius: 50%;
    margin: auto;
}
.last-days {
    opacity: 0%;
}
a {
    font-family: 'Tangerine';
}
.card {
    background: none;
    border: 2px solid #3acfb4;
}
button {
    background: #4f80fc;
    border: none;
    border-radius: 5px;
    color: white;
    border-bottom: 1px solid #3acfb4;
    border-right: 1px solid #3acfb4;
}
.cards {
    border-radius: 5px;
    border: 2px solid #3acfb4;
    margin-top: 10px;
    width: 100%;
}
.card.body {
    padding: 2px;
}
.first {
    font-family: 'Tangerine';
    font-size: 50px;
margin: 0;
}
.second {
    font-family: 'Quicksand';
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
}
.btn-info {
    color: #ffffff;
    background: #e56c8e;
    border: none;
}
.btn-danger {
background: #4f80fc;
border: none;
}
#date {
    font-family: "Tangerine";
    font-size: 35px;
    margin-bottom: 20px;
    color: white;
  }
@media only screen and (min-width: 768px) {

    a {
    margin-left: 5%;
}
.calendar {
    padding-left: 20px;
    width: 90%;
}
.calendar-info,
.calendar-month,
.calendar-year {
    font-size: 30px;
    font-family: 'Tangerine';
}
#date {
    font-size: 20px;
}
}
