@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Tangerine&display=swap');

$p-font: 'Tangerine';
$s-font: 'Quicksand';
$h1-font: 50px;

body {
    width: 100%;
    margin: 0 auto;
}
h1 {
    font-family: $p-font;
    font-size: $h1-font;
    color: white;
    background-color: #7b1859;
    padding: 20px;
    line-height: $h1-font;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    margin: 20px 0 0 0;
}
main {
    background-color: #4f80cf;
    padding: 20px;
    border: 1px solid #7b1859;

}
#date {
    font-family: $p-font;
    font-size: 40px;
    margin-bottom: 20px;
    color: #feea52;
}

textarea::placeholder {
    font-family: $p-font;
}
textarea {
    background-image: url(https://bgfons.com/upload/paper_grid_PNG5412.png);
    width: 90%;
    height: 100px;
    padding-left: 20px;
    border: none;
    font-family: $s-font;
    font-size: 20px;
    margin-top: 20px;
}

#button {
    margin: 10px;
    background-color: #feea52;
    color: #3acfb4;
    border-radius: 10px;
    font-family: $s-font;
    padding: 10px;
    border: none;
    border-right: 1px solid #7b1859;
    border-bottom: solid 1px #7b1859;
}
select {
    background-color: #feea52;
}
#title {
    color: #feea52;
    font-family: $s-font;
}
#input-title {
    border-radius: 5px;
    padding: 10px;
}