@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Quicksand&display=swap');

body {
    margin: 0 auto;
    width: 300px;
}
header {
    background-color: #f05d5e;
    font-family: 'Indie Flower';
    font-size: 25px;
    color: white;
    font-style: italic;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
header h1 {
    margin-bottom: 0;
    padding-left: 10px;
}
main {
    border-left: 1px solid #f05d5e;
    border-right: 1px solid #f05d5e;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-kawaii-fruta-jugosa_6997-1678.jpg?size=626&ext=jpg);
    font-family: 'Quicksand';
    height: 300px;
}
footer {
    background-color: #f05d5e;
    color: white;
    font-family:;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
footer p {
    margin-top: 0;
    text-align: center;
    font-family: 'Quicksand';
}
tbody {
    margin: 10px;
}
